@tailwind base;
@tailwind components;
@tailwind utilities;


/* globals.css */

@keyframes marquee {
    0% {
      transform: translateX(0);
    }
    100% {
      transform: translateX(-100%);
    }
  }
  
  .animate-marquee {
    display: flex;
    animation: marquee 30s linear infinite;
  }
  

  /* Hide scrollbar for mobile */
.scrollbar-hide {
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
}
.scrollbar-hide::-webkit-scrollbar {
  display: none; /* Chrome, Safari, and Opera */
}

/* Sidebar.css */
.scrollbar-thin {
scrollbar-width: thin; /* Firefox */
scrollbar-color: #2B2B2B #1A1A1A; /* Firefox */
}

.scrollbar-thin::-webkit-scrollbar {
width: 4px; /* Set width of the scrollbar */
}

.scrollbar-thin::-webkit-scrollbar-track {
background: #1A1A1A; /* Track color */
}

.scrollbar-thin::-webkit-scrollbar-thumb {
background-color: #2B2B2B; /* Scrollbar color */
border-radius: 32px; /* Round edges */
}
